<% const var_header = {
  htmllang:'en',
  bodylang:'lang_en',
}; %><%# 日本語の場合、bodylang:'lang_ja'とつけるが、実際には.lang_jaというクラスは存在しない。空のままだとエラーになるので、とりあえず入れているだけのダミーclass %>

<%- include('common/_header', {data:var_header}); %><%# 本文から上 header部分とbody sectionまで %>



<h1>
  <span class="h1normal">This site contains information that <span class="color18 size18small">can not be viewed if you are under
    18 years of age.</span><br>
    Please refrain from viewing people under the age of 18 from here onwards.</span>
</h1>

<p class="warning-general warning-off" id="warning">Please refrain from viewing people under the age of 18 from here onwards.</p>

<div class="btn-wrap">
  <button class="over18" id="btnYes"><span class="btn-entext">YES</span></button>
  <button class="over18" id="btnNo"><span class="btn-entext">NO</span></button>
</div>  <!-- .btn-wrap -->

<p class="warning"> </p>



<%- include('common/_bottom_script', {}) %><%# 本文から下 スクリプトとhtml最後まで %>