//- フッター


footer

  //- SNSボタン
  .share

  //- コピーライト
  a(href=`https://sampleURL/` target=`_blank` rel=`noopener`)

    //- ロゴ画像
    img(src=`img/base/sample-logoSVGwh.svg` alt=`${nostalt}`)

    <br>
    small#bottom-scroll &copy; 2020 sampleURL ALL RIGHTS RESERVED.

  //- 上に戻るボタン
  p.return_to_top: a(href=`html` data-scroll): i.fa.fa-chevron-circle-up(aria-hidden=`true`)