//- 言語別変数まとめ



//- html langのとこだけ使ってる言語指定
//- - const htmllang = 'ja';
//- - const htmllang = 'en';
//- - const htmllang = 'zh-cmn-Hant';
- const htmllang = 'zh-cmn-Hans';



//- canonicalとog canonicalにつける言語別ファイルパス指定
//- - const canolang = '';
//- - const canolang = '-en';
//- - const canolang = '-tc';
- const canolang = '-sc';



//- サイト説明文
//- - const siteDescription = '【タイトル名】説明文';
//- - const siteDescription = 'sample text';
//- - const siteDescription = 'sample text';
- const siteDescription = 'sample text';



//- サイトのタイトル
//- - const siteTitle = 'タイトル名';
//- - const siteTitle = 'タイトル名';
//- - const siteTitle = 'タイトル名';
- const siteTitle = 'タイトル名';


//- 言語識別付きの正しいファイル名
//- - const filenameFull = filename + '';
//- - const filenameFull = filename + '-en';
//- - const filenameFull = filename + '-tc';
- const filenameFull = filename + '-sc';


//- bodyにつける言語識別用class
//- - const bodyLangClass = ' lang_ja';
//- - const bodyLangClass = ' lang_en';
//- - const bodyLangClass = ' lang_tc';
- const bodyLangClass = ' lang_sc';


//- コピーライト画像のalt
//- - const nostalt = 'さんぷる';
//- - const nostalt = 'sample';
//- - const nostalt = 'sample';
- const nostalt = 'sample';