extends template/_main.pug

block varlist
  //- ファイル名
  - const filename = 'index';

  //- 言語指定 ja,en,tc,sc
  - const lang = 'sc';

  //- galleryとかの下層ディレクトリ指定
  - const dirpass = '';

  //- このincludeをcaseで選択できるかテスト ダメなら普通に書いて、その他はコメにファイル名書いとく
  //- include component/_var-ja.pug
  //- include component/_var-en.pug
  //- include component/_var-tc.pug
  include component/_var-sc.pug



block article
  //- 背景消す用白壁
  .bg-white#index-anime1

  //- .topimage はトップ画像出すためのスペース
  //- 3人立ち絵 background-image
  .topimage#index-anime5

    //- 画像サイズを画面幅基準で調整するためラッパーdivつけた  テキスト もとは .topimage-text
    .topimage-phrase#index-anime2
      picture: img(src=`img/index/index-anime-text1-sc.svg` alt=`sample text`)

    .topimage-logoset
      //- 先行発売
      +picture(`index/index--sc`, `png`, `下载( etc.)先行发售`)(class=`topimage-` id=`index-anime41`)

      //- タイトルロゴ
      +picture(`base/title`, `png`, `title`)(class=`topimage-logo` id=`index-anime3`)

      //- 発売日
      +picture(`index/index-hatsubaibi-sc`, `png`, `2020.7.18 发售！`)(class=`topimage-hatsubai` id=`index-anime4`)

    //- デスクトップ用左端キャッチフレーズ
    .topimage-phrase-pc#index-anime6
      picture: img(src=`img/index/index-anime-text1-sc.svg` alt=`sample text`)


  nav.index-nav: ul
    //- tcとscはファイルパスと画像名が違うのでmixinを修正
    mixin navli(filepass, filename, alt)
      li: a(href=`${filepass}.html`): img(src=`img/base/menu-${filename}.svg` alt=`${alt}`)
    +navli(`story-sc`, `story-en`, `Story`)
    +navli(`character-sc`, `character-en`, `Character`)
    +navli(`gallery-sc`, `gallery-en`, `Gallery`)
    +navli(`download-sc`, `download-en`, `Download`)
    //- +navli(`special-sc`, `special-en`, `Special`)


  .pc-wrap-middle
    //- 更新履歴
    section.update-area.omikuji
      h2: img(src=`img/index/omikuji-oshirase-en.svg` alt=`News`)
      iframe.history(src=`iframe-update.html` width=`100%` height=`100%` lazyload=`on` lang=`ja`)

    //- twitter
    section.twitter-area.omikuji
      h2: img(src=`img/index/omikuji-twitter-en.svg` alt=`Twitter`)
      <a class="twitter-timeline" width="100%" height="100%" data-chrome=”noheader nofooter” data-theme="light" href="https://twitter.com/twittername" data-widget-id="xxxxxx">@twittername からのツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  //- スペック表
  section.spec.omikuji
    h2: img(src=`img/index/omikuji-siyou-en.svg` alt=`Specs`)
    table: tbody
      tr
        th 发售日
        td 2020.x.xx 发售
      tr
        th 体裁
        td sample text
      tr
        th 途径
        td 下载( etc.)先行发售
      tr
        th 语言
        td 日语，英语，繁体中文，简体中文
      tr
        th 原画
        td: a(href=`http://sampleURL/` target=`_blank` rel=`noopener`) sample name 
          i.fa.fa-home.fa-lg(aria-hidden=`true`)
      tr
        th 脚本
        td: a(href=`https://twitter.com/twittername` target=`_blank` rel=`noopener`) sample name 
          i.fa.fa-twitter.fa-lg(aria-hidden=`true`)
      tr
        th 彩色
        td: a(href=`sampleURL` target=`_blank` rel=`noopener`) sample name 
          i.fa.fa-twitter.fa-lg(aria-hidden=`true`)
      tr
        th 对应ＯＳ
        td Windows(8,8.1,10)
      tr
        th ＣＰＵ
        td 必须Pentium3 500MHz以上 推荐Pentium4 1.5GHz以上
      tr
        th ＨＤＤ
        td 未定
      tr
        th 分辨率
        td 1024×768 65,536色以上
      tr
        th 硬盘空间
        td 必须256MB以上, 推荐 512MB以上
      tr
        th 图像处理
        td 必须8MB以上, 推荐 16MB以上
      tr
        th DirectX
        td 9.0c以上
      tr
        th 其他
        td 请保证电脑以及周边机器皆正常运作
      tr
        th 商品条形码
        td  
      tr
        th 通常版
        td 未定
      tr
        th 限定版
        td 未定
      tr
        th 商品号
        td  
      tr
        th 通常版
        td 0000
      tr
        th 限定版
        td 0000
      tr
        th  
        td ※注 因还在制作中，上述内容可能会发生变化。
