<!DOCTYPE html>
<html lang="<%= data.htmllang %>">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Confirm</title>
<link href="css/iframe.css" rel="stylesheet">
</head>
<body id="popupBody" class="<%= data.bodylang %>"><%# #popupBodyは ejs/common/_bottom_script.ejs でウィンド閉じるアニメーションに使っているjs用ID %>
<section id="noticeWindow"><%# #noticeWindowは ejs/common/_bottom_script.ejs でウィンド閉じるアニメーションに使っているjs用ID %>